@import "tailwindcss";

.farsh {
  background-image: url("../assests/table.jpg"); /* put it in /public */
  background-size: cover;
  background-position: center;
}
.neon {
  background-image: url("../assests/neon.png"); /* put it in /public */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.joker {
  background-image: url("../assests/joker.jpg"); /* put it in /public */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15%;
}
.text-responsive {
  font-size: clamp(14px, 2vw, 24px);
}
.faUser {
  font-size: 50px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0c8),
    to(#333)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* 
.card:nth-child(1) {
  transform: rotate(-24deg) translateY(20px);
}
.card:nth-child(2) {
  transform: rotate(-20deg) translateY(15px);
}
.card:nth-child(3) {
  transform: rotate(-16deg) translateY(10px);
}
.card:nth-child(4) {
  transform: rotate(-12deg) translateY(8px);
}
.card:nth-child(5) {
  transform: rotate(-8deg) translateY(5px);
}
.card:nth-child(6) {
  transform: rotate(-4deg) translateY(2px);
}
.card:nth-child(7) {
  transform: rotate(0deg);
}
.card:nth-child(8) {
  transform: rotate(4deg) translateY(2px);
}
.card:nth-child(9) {
  transform: rotate(8deg) translateY(5px);
}
.card:nth-child(10) {
  transform: rotate(12deg) translateY(8px);
}
.card:nth-child(11) {
  transform: rotate(16deg) translateY(10px);
}
.card:nth-child(12) {
  transform: rotate(20deg) translateY(15px);
}
.card:nth-child(13) {
  transform: rotate(24deg) translateY(20px);
} */
